HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.env.infastapi
.env.outfastapi
.env
application.properties
Dockerfile
deploy.sh
Jenkinsfile
docker-compose.yml
mongod.conf
nginx.conf
opt-ocr-938590945c20-wk51sbg4tbgs9g83j6hid1x4kw.json
pipeline309
pipeline401

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

